

.history 
{
  font-family: 'Dosis', sans-serif;
  text-align: center;
}
.meat {
  font-family: 'Dosis', sans-serif;
  text-align: center;
}
.caption {
  font-family: 'Lobster', cursive;
  text-align: center;
}
article {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 150% ;
  color: blue;
}

body {
  background-color: skyblue ;
 
}
header {
  background-color: #FF2ECC;
}

h1 {
  color: green;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
}

h2 {
  color: #FF2ECC;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
}

h3 {
  color: green;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
}
ls {
  color: green;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
}

p {
color: #FF2ECC;
}
.hotel {
width: 500px;
height: 450px;
text-align: center;
}
.beech {
	width: 1420px;
}